#header{
    width:100%;
    height:40px;
    position:fixed;
    background:linear-gradient(to right, #A5A49B, #7E848A );
    font-size: 10px;
    top:0;
    z-index:1000;
}
#header-logotype{
align:center;
}
#container-slider{
    position:relative;
    width:3900px;
    /*left: 0px;*/
}
#slide-wrapper{
    /*width: 1300px;*/
    width:100%;
    height: 700px;
    /*height: auto;*/
    overflow: hidden;
    margin-top:40px;
    position:relative;
}
.nav-content{
    text-align:center;
    line-height: 40px;
}
.header-link{
    color:white;
}
.header-link:hover{
    color: yellow;
}
.slider-content{
    float: left;
    width: 1300px;
    height: 600px;
    /*height:auto;*/
    white-space:normal;
}
#slide1{
    background-image: url(images/slide1.jpg);
}
#slide2{
    background-image: url(images/slide2.jpg);
}
#slide3{
    background-image: url(images/slide3.jpg);
}

#prevSlide{
    position: absolute;
    top:200px;
    left: 30px;
    z-index: 300;
}
#next-slide{
    position: absolute;
    top:200px;
    left: 1100px;
    z-index: 300;
}