#header{
    width:100%;
    height:40px;
    position:fixed;
    background:linear-gradient(to right, #A5A49B, #7E848A );
    font-size: 10px;
    top:0;
    z-index:1000;
    opacity: 0.9;
}
@media (max-width: 321px) {
    #header .col-xs-2 {
        padding: 0;
    }
}
#header-logotype{
    align:center;
}
#container-slider{
    -webkit-transition: left .4s;
    -moz-transition: left .4s;
    -ms-transition: left .4s;
    -o-transition: left .4s;
    transition: left .4s;
    position:relative;
    /*width:3900px;*/
    width:300%;
    height: 100%;
    /*left: 0px;*/
}
#slide-wrapper{
    /*width: 1300px;*/
    width:100vw;
    height: 90vh;
    /*height: auto;*/
    overflow: hidden;
    margin-top:40px;
    position:relative;
}
.nav-content{
    text-align:center;
    line-height: 40px;
}
.header-link{
    color:white;
    cursor:pointer;
    text-decoration: none;
}
.header-link:hover{
    color: yellow;
}
.slider-content{
    float: left;
    /*width: 1300px;*/
    width: 33.3333333%;
    height: 100%;
    /*height:auto;*/
    white-space:normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#slide1{
    background-image: url(images/slide1.jpg);
}
#slide2{
    background-image: url(images/slide2.jpg);
}
#slide3{
    background-image: url(images/slide3.jpg);
}

#prevSlide{
    position: absolute;
    top: 50%;
    left: 10%;
    z-index: 300;
    transform: translate(0,-50%);
    background-color: dimgrey;
    opacity: .5;
    border: none;
    color: white;
    font-size: 2em;
}
#next-slide{
    position: absolute;
    top:50%;
    right: 10%;
    z-index: 300;
    transform: translate(50%,-50%);
    background-color: dimgrey;
    opacity: .5;
    border: none;
    color: white;
    font-size: 2em;
}
#services-container{
    width:100%;
}
.h3-caption{
    font-family : Oswald ;
    color : #515151 ;
    font-size : 16px ;
    font-weight : 400 ;
    text-align:center;
    text-transform: uppercase;
}
.h1-caption{
    font-family : Oswald ;
    color : #000000 ;
    font-size : 30px ;
    font-weight : 700 ;
    text-align:center;
    text-transform: uppercase;
}
.text{
    font-family : Oswald ;
    color : #707070 ;
    font-size : 16px ;
    font-weight : 300 ;
    line-height : 25px ;
    text-align:center;
}
.header-line{
    width : 170px ;
    height: 3px ;
    background-color : #ffe600 ;
}
#portfolio-description{
    margin-bottom: 30px;
}
.services-options-content{
    position:relative;
}
#services-description{
    padding-bottom: 20px;
}
.logotype{
    transition: all .1s;
    margin:auto;
    z-index: 100;
    text-align: center;
    height:10vw;
    width: 10vw;
    line-height:10vw;
    background-color: #ffe600;
    border-radius: 50%;
    font-size:2.5em;
}
.logotype .icon{
    color: white;
}

#services-container .definition {
    padding: 20px 0;
    text-align: center;
}

#flow {
    margin-top: 50px;
    background-color: #131A1D;
}
#flow p {
    text-align: center;
}
#flow .definition {
    padding:0;
}
#flow .h1-caption {
    color: #ffe600;
}

#flow .flow-logotype {
    background-color: transparent;
    height:6vw;
    width: 10vw;
    transition: all .1s;
    margin:auto;
    z-index: 100;
    text-align: center;
    line-height:6vw;
    border-radius: 50%;
}
#flow .flow-logotype .flow-icon {
    transition: all .1s;
    font-size:2.5em;
    color: #ffe600;
}
#flow .h3-caption {
    color:white;
    font-weight: bold;
}
#flow p {
    color: rgba(255,255,255,.7);
}
#flow .flow-content {
    padding-bottom: 10px;
}

#about .about-logotype {
    transition: all .1s;
    margin:auto;
    z-index: 100;
    text-align: center;
    background-color: #ffe600;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
    font-size:2.5em;
    line-height: 5vw;
    color: white;
    margin-top: 20px;
}

#about .about-container {
    padding-bottom: 10px;
    padding-top: 10px;
}

#about .about-container .h3-caption,
#about .about-container p {
    text-align: left;
}





@media(max-width:400px) {
    .logotype{
        transition: all .1s;
        margin:auto;
        z-index: 100;
        text-align: center;
        height:18vw;
        width: 18vw;
        line-height:20vw;
        background-color: #ffe600;
        border-radius: 50%;
        font-size:2em;
    }
    #flow .flow-logotype {
        height:6vw;
        width: 15vw;
        line-height:6vw;
    }
    #flow .flow-logotype .flow-icon {
        font-size:2em;
    }
    #about .about-logotype{
        height: 20vw;
        width: 20vw;
        font-size:2.5em;
        line-height: 20vw;
        margin-top: 20px;
    }
}
@media (min-width:321px) and (max-width: 688px) {
    #about .about-logotype{
        height: 10vw;
        width: 10vw;
        font-size:2.5em;
        line-height: 10vw;
        margin-top: 10px;
    }
}
@media (min-width:689px) and (max-width: 993px) {
    #about .about-logotype{
        height: 7vw;
        width: 7vw;
        font-size: 2.5em;
        line-height: 7vw;
        margin-top: 10px;
    }
}


.percent {
    color: #ffe600;
}
.portfolio-img{
    width : 100%;
    height : auto;
}
.portfolio-all{
    padding:0;

}
.portfolio-web{
    display: table-cell;
    vertical-align:middle;
}
.portfolio-web:hover:before{
    top: 0;
    left: 0;
    content: 'WEB-DESIGN';
    text-align:center;
    width: 100%;
    height: 100%;
    /*line-height: 100%;*/
    opacity: 0.7;
    background-color: rgba(255, 230, 0, 0.41);
    z-index: 1000;
    position: absolute;
}
.portfolio-graphics:hover:before{
    top: 0;
    left: 0;
    content: 'GRAPHICS';
    text-align:center;
    width: 100%;
    height: 100%;
    /*line-height: 100%;*/
    opacity: 0.7;
    background-color: rgba(255, 230, 0, 0.41);
    z-index: 1000;
    position: absolute;
}
.portfolio-illustration:hover:before{
    top: 0;
    left: 0;
    content: 'ILLUSTRATION';
    text-align:center;
    width: 100%;
    height: 100%;
    /*line-height: 100%;*/
    opacity: 0.7;
    background-color: rgba(255, 230, 0, 0.41);
    z-index: 1000;
    position: absolute;
}
.portfolio-photo:hover:before{
    top: 0;
    left: 0;
    content: 'PHOTO';
    text-align:center;
    width: 100%;
    height: 100%;
    /*line-height: 100%;*/
    opacity: 0.7;
    background-color: rgba(255, 230, 0, 0.41);
    z-index: 1000;
    position: absolute;
}
.portfolio-options {
    cursor: pointer;
}
@media(max-width: 992px){
    .portfolio-options {
        cursor: pointer;
        font-size: 10px;
    }
}
#contact-us{
    text-align:center;
    margin-bottom: 30px;
}
#contact-us-down-butt{
    width: 60px;
    height: 60px;
    background-color: #ffe600;
    line-height:100%;
    margin-top:20px;
    color: white;
}
#contact-us-butt{
    width: 171px;
    height: 58px;
    background-color: #ffe600;
    line-height:100%;
    color: white;

}
#numbers-container{
    width:100%;
    /*height: 400px;*/
    background-color : #131A1D;
    color: white;
    padding-bottom: 30px;
}

.h1-caption2{
    font-family: Oswald;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-align:center;
    text-transform: uppercase;
}
.h3-caption2{
    font-family: Oswald;
    color: #ffe600;
    font-size: 16px;
    font-weight: 400;
    text-align:center;
    text-transform: uppercase;
}
.text2{
    font-family: Oswald;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    text-align:center;
}

@media(max-width: 992px){
    .h1-caption2{
        font-family: Oswald;
        color: #ffffff;
        font-size: 15px;
        font-weight: 700;
        text-align:center;
    }
    .h1-caption{
        font-family : Oswald ;
        color : #000000 ;
        font-size : 15px ;
        font-weight : 700 ;
        text-align:center;
        text-transform: uppercase;
    }
}
.number-item-container {
    border: 2px solid yellow;
    height:120px;
    text-align: center;
    margin: 20px;
    padding-bottom: 5px;
}
@media (max-width: 688px) {
    .number-item-container {
        border: 2px solid yellow;
        height:120px;
        text-align: center;
        margin: 10px auto;
    }
}
.number-item{
    font-weight: bold;
    font-size: 2em;
    padding-top: 20px;
}
.team-member{
    marhin-top: 30px;
    margin-right: 10px;
}
#team-member-skill{
    height: 305px;
    background-color: #131316;
}
.team-member-img{
    width:100%;
    height: auto;
    cursor:pointer;
}
/*#skills-container{*/
    /*width:100%;*/
/*}*/
#creative-skills{
    display: block;
}
#art-skills, #web-skills, #photo-skills{
    display:none;
}
#brand-slider {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: relative;
}
@media (max-width:321px) {
	#brand-slider {
    width: 100%;
    height: 50px;
    overflow: hidden;
    position: relative;
}
}
.brand-slide {
    float: left;
    width: 50%;
    height: 100%;
}

#brand-slider .container-slider {
    -webkit-transition: left .4s;
    -moz-transition: left .4s;
    -ms-transition: left .4s;
    -o-transition: left .4s;
    transition: left .4s;
    position:relative;
    width: 200%;
    height: 100%;
    margin:auto;
}
#brand-slider .brand-wrapper{
    height:100%;
    width: 25%;
    padding: 10px;
    float: left;
}
#brand-slider .brand {
    width:100%;
    height: 100%;
    margin: auto;
}

#feedback{
    background-color: #131A1D;
}
#feedback {
    color: white;
}
.feedback-input{
    padding-left: 10px;
    background-color: rgba(19, 19, 22, 0);
    border: 1px solid rgba(255,255,255,.8);
    width:100%;
    height: 50px;
    /*margin-right:5px;*/
}
#feedback-butt{
    align:center;
    width: 204px;
    height: 58px;
    background-color: #ffe600;
    font-weight: bold;
    color:black;
}
#feedback .submit-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
textarea{
    padding-left: 10px;
    padding-top: 10px;
    width:100%;
    height: 222px;
    background-color: rgba(19, 19, 22, 0);
    border: 1px solid rgba(255,255,255,.8);
    /*text-align: center;*/

}
.form-textarea{
    margin-top:10px;
}

#footer{
    height: 179px;
    background-color: #131316;
    width:100%;
}

#up-butt{
    width: 60px;
    height: 60px;
    background-color: #ffe600;
    color:white;
}